---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:900');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:after, &:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  margin: 0;
  padding: 0;
  background: 0 0;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #f6f6f6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #666;
  text-align: left;
}

.block:after {
  content: ' ';
  display: table;
  clear: both;
}

.header, .section, .footer {
  display: block;
  width: 100%;
  padding: 20px;
}

.header {
  background: #ce1126;
}

.section {
  background: #fff;
}

.logo {
  display: block;
  float: left;
}

.logo__link {
  display: block;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  &:hover {
    display: block;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }
}

.menu {
  display: block;
  float: right;
  font-size: 0;
}

.menu__item {
  display: inline-block;
  font-size: 16px;
  margin-left: 1em;
}

.menu__item-link {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.list {
  display: block;
}

.list__item {
  display: block;
  ~ .list__item {
    margin-top: 20px;
  }
}

.video__title-link {
  color: #000;
  text-decoration: none;
  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.video__title, .video__date {
  display: block;
  margin-bottom: 15px;
}

.video__poster {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.youtube {
  position: relative;
  width: 100%;
  height: 0;
  margin-bottom: 20px;
  padding-top: 56.25%;
  /* = 100/1920*1080 */
}

.youtube__frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.details__title {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.details__date {
  display: block;
  margin-bottom: 20px;
}

.details__headline {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.details-description {
  display: block;
  margin-bottom: 20px;
}

.message {
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  line-height: 1;
  &.message--success {
    background: #d3f3c0;
    border: 1px solid #a5d985;
    color: #557143;
  }
  &.message--notice {
    background: #fff3c5;
    border: 1px solid #ffe075;
    color: #937f38;
  }
  &.message--error {
    background: #ffe3e2;
    border: 1px solid #efb1af;
    color: #cc0000;
  }
}

.comment {
  display: block;
  position: relative;
  ~ .comment {
    margin-top: 15px;
  }
}

.comment__text {
  display: block;
  position: relative;
  padding: 15px;
  background: #eee;
  &:after {
    content: '';
    position: absolute;
    left: 20px;
    bottom: -20px;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #eee transparent transparent transparent;
  }
}

.comment__author {
  display: block;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.comment__image {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
}

.comment__name {
  display: block;
  float: left;
  margin-left: 10px;
  line-height: 40px;
  color: #666;
}

.comment__replies {
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 40px;
  color: #999;
}

.paging {
  margin-top: 20px;
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.paging__button {
  display: block;
  padding: 15px;
  background: #ce1126;
  color: #fff;
  text-decoration: none;
  line-height: 1;
  &:hover {
    text-decoration: none;
  }
  &.paging__button--prev {
    float: left;
    &:before {
      content: '\00ab\0020';
    }
  }
  &.paging__button--next {
    float: right;
    &:after {
      content: '\0020\00bb';
    }
  }
}

.content {
  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 15px;
  }
  pre {
    margin-bottom: 15px;
    &[class*="language-"] {
      margin-bottom: 15px;
    }
  }
  a {
    color: #000;
    text-decoration: none;
    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
}

.social {
  display: block;
  margin-bottom: 15px;
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.social__item {
  float: left;
  width: 50%;
  list-style: none;
}

.share {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
  &.share--twitter {
    background: #55acee;
  }
  &.share--facebook {
    background: #3b5998;
  }
  &.share--plus {
    background: #dc4e41;
  }
  &.share--email {
    background: #444;
  }
}

.share__action {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

.share__service {
  display: block;
  text-align: center;
}

.footer {
  font-size: 12px;
  text-align: center;
  color: #999;
}

.footer__link {
  color: #666;
  text-decoration: none;
  &:hover {
    color: #333;
    text-decoration: none;
  }
}


.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .cm { color: #999988; font-style: italic; }
.highlight .cp { color: #999999; font-weight: bold; }
.highlight .c1 { color: #999988; font-style: italic; }
.highlight .cs { color: #999999; font-weight: bold; font-style: italic; }
.highlight .c, .highlight .cd { color: #999988; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .gd { color: #000000; background-color: #ffdddd; }
.highlight .ge { color: #000000; font-style: italic; }
.highlight .gr { color: #aa0000; }
.highlight .gh { color: #999999; }
.highlight .gi { color: #000000; background-color: #ddffdd; }
.highlight .go { color: #888888; }
.highlight .gp { color: #555555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #aaaaaa; }
.highlight .gt { color: #aa0000; }
.highlight .kc { color: #000000; font-weight: bold; }
.highlight .kd { color: #000000; font-weight: bold; }
.highlight .kn { color: #000000; font-weight: bold; }
.highlight .kp { color: #000000; font-weight: bold; }
.highlight .kr { color: #000000; font-weight: bold; }
.highlight .kt { color: #445588; font-weight: bold; }
.highlight .k, .highlight .kv { color: #000000; font-weight: bold; }
.highlight .mf { color: #009999; }
.highlight .mh { color: #009999; }
.highlight .il { color: #009999; }
.highlight .mi { color: #009999; }
.highlight .mo { color: #009999; }
.highlight .m, .highlight .mb, .highlight .mx { color: #009999; }
.highlight .sb { color: #d14; }
.highlight .sc { color: #d14; }
.highlight .sd { color: #d14; }
.highlight .s2 { color: #d14; }
.highlight .se { color: #d14; }
.highlight .sh { color: #d14; }
.highlight .si { color: #d14; }
.highlight .sx { color: #d14; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #d14; }
.highlight .ss { color: #990073; }
.highlight .s { color: #d14; }
.highlight .na { color: #008080; }
.highlight .bp { color: #999999; }
.highlight .nb { color: #0086B3; }
.highlight .nc { color: #445588; font-weight: bold; }
.highlight .no { color: #008080; }
.highlight .nd { color: #3c5d5d; font-weight: bold; }
.highlight .ni { color: #800080; }
.highlight .ne { color: #990000; font-weight: bold; }
.highlight .nf { color: #990000; font-weight: bold; }
.highlight .nl { color: #990000; font-weight: bold; }
.highlight .nn { color: #555555; }
.highlight .nt { color: #000080; }
.highlight .vc { color: #008080; }
.highlight .vg { color: #008080; }
.highlight .vi { color: #008080; }
.highlight .nv { color: #008080; }
.highlight .ow { color: #000000; font-weight: bold; }
.highlight .o { color: #000000; font-weight: bold; }
.highlight .w { color: #bbbbbb; }
.highlight { background-color: #f8f8f8; }

@media screen and (min-width: 500px) {
  .header, .section, .footer {
    padding: 30px;
  }
  .logo__link {
    font-size: 30px;
    &:hover {
      font-size: 30px;
    }
  }
  .menu__item {
    line-height: 35px;
  }
  .list__item ~ .list__item {
    margin-top: 30px;
  }
  .video {
    position: relative;
    padding-left: 200px;
    min-height: 100px;
  }
  .video__poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
  }
  .youtube {
    margin-bottom: 30px;
  }
  .details__title {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .details__date {
    margin-bottom: 30px;
  }
  .details__headline {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .details-description, .message {
    margin-bottom: 30px;
  }
  .comment ~ .comment, .paging {
    margin-top: 30px;
  }
  .content {
    h1, h2, h3, h4, h5, h6, p {
      margin-bottom: 30px;
    }
    pre {
      margin-bottom: 30px;
      &[class*="language-"] {
        margin-bottom: 30px;
      }
    }
  }
  .social {
    margin-bottom: 30px;
  }
  .social__item {
    width: 25%;
  }
}

@media screen and (min-width: 900px) {
  .block {
    max-width: 800px;
    margin: 0 auto;
  }
  .header, .section, .footer {
    padding: 50px;
  }
  .logo__link {
    font-size: 40px;
    &:hover {
      font-size: 40px;
    }
  }
  .menu__item {
    line-height: 50px;
  }
  .list__item ~ .list__item {
    margin-top: 50px;
  }
  .video {
    padding-left: 250px;
  }
  .video__poster {
    width: 200px;
  }
  .youtube {
    margin-bottom: 50px;
  }
  .details__title {
    margin-bottom: 25px;
    font-size: 24px;
  }
  .details__date {
    margin-bottom: 50px;
  }
  .details__headline {
    margin-bottom: 25px;
    font-size: 20px;
  }
  .details-description, .message {
    margin-bottom: 50px;
  }
  .comment ~ .comment {
    margin-top: 50px;
  }
  .comment__author {
    margin-top: 10px;
  }
  .paging {
    width: 300px;
    margin: 50px auto 0 auto;
  }
  .social {
    margin-bottom: 50px;
  }
  .share {
    padding: 20px;
  }
  .share__action, .share__service {
    display: inline-block;
    margin: 0;
    line-height: 20px;
    vertical-align: middle;
  }
}
