    <header class="header">
      <div class="block">
        <h1 class="logo">
          <a href="{{ site.url }}/" class="logo__link">{{ site.title }}</a>
        </h1>
        <nav class="menu">
          <ul>
            <li class="menu__item">
{% for my_page in site.pages %}{% if my_page.title and my_page.skip != true %}              <a class="menu__item-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
{% endif %}{% endfor %}            </li>
          </ul>
        </nav>
      </div>
    </header>
