
.block:after {
  content: ' ';
  display: table;
  clear: both;
}

.header,
.section,
.footer {
  display: block;
  width: 100%;
  padding: 20px;
}

.header {
  background: #ce1126;
}

.section {
  background: #fff;
}

.logo {
  display: block;
  float: left;
}

.logo__link,
.logo__link:hover {
  display: block;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.menu {
  display: block;
  float: right;
  font-size: 0;
}

.menu__item {
  display: inline-block;
  font-size: 16px;
  margin-left: 1em;
}

.menu__item-link,
.menu__item-link:hover {
  color: #fff;
  text-decoration: none;
}

.list {
  display: block;
}

.list__item {
  display: block;
}

.list__item ~ .list__item {
  margin-top: 20px;
}

.video__title-link,
.video__title-link:hover {
  color: #000;
  text-decoration: none;
}

.video__title,
.video__date {
  display: block;
  margin-bottom: 15px;
}

.video__poster {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.youtube {
  position: relative;
  width: 100%;
  height: 0;
  margin-bottom: 20px;
  padding-top: 56.25%; /* = 100/1920*1080 */
}

.youtube__frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.details__title {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.details__date {
  display: block;
  margin-bottom: 20px;
}

.details__headline {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.details-description {
  display: block;
  margin-bottom: 20px;
}

.message {
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  line-height: 1;
}

.message.message--success {
  background: #d3f3c0;
  border: 1px solid #a5d985;
  color: #557143;
}

.message.message--notice {
  background: #fff3c5;
  border: 1px solid #ffe075;
  color: #937f38;}

.message.message--error {
  background: #ffe3e2;
  border: 1px solid #efb1af;
  color: #cc0000;
}

.comment {
  display: block;
  position: relative;
}

.comment ~ .comment {
  margin-top: 15px;
}

.comment__text {
  display: block;
  position: relative;
  padding: 15px;
  background: #eee;
}

.comment__text:after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: -20px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #eee transparent transparent transparent;
}

.comment__author {
  display: block;
  text-decoration: none;
}

.comment__author:hover {
  text-decoration: none;
}

.comment__author:after {
  content: ' ';
  display: table;
  clear: both;
}

.comment__image {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
}

.comment__name {
  display: block;
  float: left;
  margin-left: 10px;
  line-height: 40px;
  color: #666;
}

.comment__replies {
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 40px;
  color: #999;
}

.paging {
  margin-top: 20px;
}

.paging:after {
  content: ' ';
  display: table;
  clear: both;
}

.paging__button {
  display: block;
  padding: 15px;
  background: #ce1126;
  color: #fff;
  text-decoration: none;
  line-height: 1;
}

.paging__button:hover {
  text-decoration: none;
}

.paging__button.paging__button--prev {
  float: left;
}

.paging__button.paging__button--prev:before {
  content: '\00ab\0020';
}

.paging__button.paging__button--next {
  float: right;
}

.paging__button.paging__button--next:after {
  content: '\0020\00bb';
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p {
  margin-bottom: 15px;
}

.content pre,
.content pre[class*="language-"] {
  margin-bottom: 15px;
}

.content a {
  color: #000;
  text-decoration: none;
}

.content a:hover {
  color: #000;
  text-decoration: underline;
}

.social {
  display: block;
  margin-bottom: 15px;
}

.social:after {
  content: ' ';
  display: table;
  clear: both;
}

.social__item {
  float: left;
  width: 50%;
  list-style: none;
}

.share {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.share:hover {
  text-decoration: none;
}

.share.share--twitter {
  background:#55acee;
}

.share.share--facebook {
  background:#3b5998;
}

.share.share--plus {
  background:#dc4e41;
}

.share.share--email {
  background:#444;
}

.share__action {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

.share__service {
  display: block;
  text-align: center;
}

.footer {
  font-size: 12px;
  text-align: center;
  color: #999;
}

.footer__link {
  color: #666;
  text-decoration: none;
}}

.footer__link:hover {
  color: #333;
  text-decoration: none;
}

@media screen and (min-width: 500px) {

  .header,
  .section,
  .footer {
    padding: 30px;
  }

  .logo__link,
  .logo__link:hover {
    font-size: 30px;
  }

  .menu__item {
    line-height: 35px;
  }

  .list__item ~ .list__item {
    margin-top: 30px;
  }

  .video {
    position: relative;
    padding-left: 200px;
    min-height: 100px;
  }

  .video__poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
  }

  .youtube {
    margin-bottom: 30px;
  }

  .details__title {
    margin-bottom: 15px;
    font-size: 22px;
  }

  .details__date {
    margin-bottom: 30px;
  }

  .details__headline {
    margin-bottom: 15px;
    font-size: 18px;
  }

  .details-description {
    margin-bottom: 30px;
  }

  .message {
    margin-bottom: 30px;
  }

  .comment ~ .comment {
    margin-top: 30px;
  }

  .paging {
    margin-top: 30px;
  }

  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6,
  .content p {
    margin-bottom: 30px;
  }
  .content pre,
  .content pre[class*="language-"] {
    margin-bottom: 30px;
  }

  .social {
    margin-bottom: 30px;
  }

  .social__item {
    width: 25%;
  }

}

@media screen and (min-width: 900px) {

  .block {
    max-width: 800px;
    margin: 0 auto;
  }

  .header,
  .section,
  .footer {
    padding: 50px;
  }

  .logo__link,
  .logo__link:hover {
    font-size: 40px;
  }

  .menu__item {
    line-height: 50px;
  }

  .list__item ~ .list__item {
    margin-top: 50px;
  }

  .video {
    padding-left: 250px;
  }

  .video__poster {
    width: 200px;
  }

  .youtube {
    margin-bottom: 50px;
  }

  .details__title {
    margin-bottom: 25px;
    font-size: 24px;
  }

  .details__date {
    margin-bottom: 50px;
  }

  .details__headline {
    margin-bottom: 25px;
    font-size: 20px;
  }

  .details-description {
    margin-bottom: 50px;
  }

  .message {
    margin-bottom: 50px;
  }

  .comment ~ .comment {
    margin-top: 50px;
  }

  .comment__author {
    margin-top: 10px;
  }

  .paging {
    width: 300px;
    margin: 50px auto 0 auto;
  }

  .social {
    margin-bottom: 50px;
  }

  .share {
    padding: 20px;
  }

  .share__action,
  .share__service {
    display: inline-block;
    margin: 0;
    line-height: 20px;
    vertical-align: middle;
  }

}

