---
layout: default
---
    <section class="section" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="block">
        <article class="details">
          <h1 class="details__title" itemprop="name headline">{{ page.title }}</h1>
          <p class="details__date">Posted on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>{% if page.video %}
          <div class="youtube">
            <iframe src="https://www.youtube.com/embed/W0LA5SgUkHg?modestbranding=1&amp;showinfo=0" frameborder="0" class="youtube__frame"></iframe>
          </div>{% endif %}
    {{ content }}
          <h2 class="details__headline">Sharing is caring!</h2>
          <ul class="social">
            <li class="social__item">
              <a target="_blank" class="share share--twitter" href="https://twitter.com/home?status={{ page.title | uri_escape }} {{ page.url | prepend: site.baseurl | prepend: site.url }}">
                <span class="share__action">Share on</span>
                <span class="share__service">Twitter</span>
              </a>
            </li>
            <li class="social__item">
              <a target="_blank" class="share share--facebook" href="https://www.facebook.com/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url }}&amp;t={{ page.title | uri_escape }}">
                <span class="share__action">Share on</span>
                <span class="share__service">Facebook</span>
              </a>
            </li>
            <li class="social__item">
              <a target="_blank" class="share share--plus" href="https://plus.google.com/share?hl=en&amp;url={{ page.url | prepend: site.baseurl | prepend: site.url }}&amp;title={{ page.title | uri_escape }}">
                <span class="share__action">Share on</span>
                <span class="share__service">Google+</span>
              </a>
            </li>
            <li class="social__item">
              <a target="_blank" class="share share--email" href="mailto:?subject={{ page.title | uri_escape }}&amp;body={{ page.url | prepend: site.baseurl | prepend: site.url }}">
                <span class="share__action">Share via</span>
                <span class="share__service">Email</span>
              </a>
            </li>
          </ul>
        </article>
      </div>
    </section>
    <script type="application/ld+json">
{ "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",{% if page.video %}
  "image": "https://i.ytimg.com/vi/{{page.video}}/mqdefault.jpg",{% endif %}
  "keywords": "{{ page.categories | join: " " }}",
  "publisher": "{{ site.title }}",
  "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateCreated": "{{ page.date | date_to_xmlschema }}",
  "description": "{{ page.abstract | xml_escape }}"
}
    </script>
